.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup-inner {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-image {
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff5e5e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.close-btn:hover {
  background-color: #ff3b3b;
}

/* Responsive design */
@media (max-width: 600px) {
  .popup-inner {
      padding: 15px;
  }

  .close-btn {
      padding: 10px;
  }
}
