/* Achievement.css */

.certificates-leetcode {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.certificates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.certificate {
  position: relative;
  width: 300px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.certificate img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.certificate p {
  margin: 10px 0 0;
  font-weight: bold;
}

.certificate:hover {
  transform: scale(1.05);
}

.description-tooltip {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  text-align: center;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}
